* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------Header------------- */

.header-section {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
}
.bodypart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodypart .body-h1,
.body-p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.headerpart {
  background-color: #d8a236; /* #eee8aa */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}
.headerpart .logo {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.searchbar input {
  padding: 10px;
  border-radius: 4px;
  border: transparent;
  width: 550px;
}
.searchbar button {
  padding: 8px;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  background: none;
}

.items ul {
  display: flex;
  align-items: center;
}
.items ul li {
  list-style: none;
}
.items li a {
  text-decoration: none;
  font-weight: 300;
  color: black;
  text-transform: capitalize;
  margin: 0 1rem;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 35px;
  height: 4px;
  border-radius: 2px;
  background-color: black;
  margin: 0.5rem 0;
}
/* ---------------Home----------------- */
.home-section {
  width: 100%;
}
.main-section {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 80%;
  margin: 8rem 0 0 8rem ;
}
.images {
  position: relative;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-slider {
  margin-top: 8rem;
}
.images img {
  position: absolute;
  top: 0;
  margin-top: 3rem;
  width: 100%;
  height: 80%;
}
.images .slider{
  width: 80%;
  height: 100%;
}
.images .slider img{
  width: 80%;
} 
.leftarrow,
.rightarrow {
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 1rem;
}

.rightarrow span {
  display: block;
  height: 30px;
  align-content: center;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
.leftarrow span {
  display: block;
  height: 30px;
  align-content: center;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
.homepart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bodypart,
.h-img {
  width: 50%;
  margin: 0 2rem;
}
.bodypart h1 {
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 1rem;
}
.h-img img {
  width: 100%;
}
.homepart {
  margin-top: 3rem;
}
.bodypart p {
  margin-bottom: 2rem;
}
.bodypart button {
  padding: 8px;
  border-radius: 4px;
  border: 2px solid black;
  background-color: black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.bodypart button a {
  color: white;
  text-decoration: none;
}
.bodypart button:hover {
  background-color: #d8a263;
  border: 2px solid #d8a263;
}
/* ---------------------About part------------------ */
.about-section {
  width: 100%;
}
.aboutpart {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.intro-types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.intro-tyres,
.intro-batttries,
.intro-lubricants {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-types img {
  width: 200px;
}
.intro-types p,
h2,
h1,
h3 {
  margin: 1rem 0;
}
.intro-types h2 {
  text-align: center;
}
.intro-types .btn-2 {
  padding: 8px;
  border: 2px solid white;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s ease-in-out;
  margin-top: 2rem;
}
.intro-types .btn-2:hover {
  border: 2px solid #d8a236;
  background-color: #d8a236;
}
.aboutpart .head-desc {
  text-align: center;
}

/* --------------------- Footer--------------------- */
.pagefooter-section {
  background-color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.footercontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  color: white;
}
.description,
.socialicons,
.footer-contactinfo,
.info-type {
  flex-wrap: wrap;
  max-width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  height: 300px;
}
.description .openingtime {
  margin-top: 1rem;
}
.info-type {
  padding-top: 20px;
}
.socialicons h1 {
  margin: 0;
}
.socialicons .links ul a {
  text-decoration: none;
  color: white;
}
.socialicons ul li {
  list-style: none;
  margin: 1rem 0;
}
.socialicons ul li a {
  text-decoration: none;
  font-weight: 300;
}
.pagefooter-section h1 {
  color: #fff;
  margin: 0;
}
.pagefooter-section span {
  color: #d8a236;
}
.footer-contactinfo h1 {
  padding: 20px 0;
}
.footer-contactinfo p {
  padding: 2px 0;
}
.copygright {
  margin-bottom: 3rem;
}
.socialicons h1 {
  padding-top: 20px;
}
/* ------------------------Contact part ----------------------*/
.contactname {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 8rem;
}
.contactname img {
  width: 510px;
  filter: grayscale(100%);
}
.intro h1 {
  font-size: 35px;
  text-align: center;
}
.intro h1 span {
  color: #d8a236;
}
.getintouch {
  margin-top: 5rem;
}
.getintouch p {
  color: black;
}
.getintouch h1 {
  font-size: 40px;
  color: black;
  text-align: center;
}
.getintouch span,
h5 {
  color: #d8a236;
  text-align: center;
  margin: 1rem 0;
}
.sendmessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sendmessage p,
h1 {
  color: black;
  margin: 0rem 2rem;
  /* padding: 20px; */
}
.sendmessage h1 {
  margin-top: 6rem;
}
.contactform {
  width: 50%;
  display: block;
  margin: 2rem;
  padding: 20px;
}
.contact-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}
.contact-info .location,
.email,
.phonenum {
  height: 100px;
  text-align: center;
  align-content: center;
}
.contactform label,
input,
textarea {
  color: black;
}
.contactform input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#country {
  color: black;
}
#country option {
  color: black;
}
.contactform button {
  padding: 10px;
  width: 100px;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: black;
  transition: 0.3s ease-in-out;
}
.contactform button:hover {
  border: 2px solid #d8a236;
  background-color: #d8a236;
}

@media (max-width: 1200px) {
  .searchbar input {
    width: 350px;
  }

  .headerpart .logo {
    font-size: 20px;
  }
  .main-section{
    width: 100%;
    margin:  8rem auto auto auto ;
  }
  .pagefooter-section {
    margin-top: 2rem;
  }
  .footercontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    padding: 0;
  }
  .footercontainer h2,
  h1 {
    font-size: 30px;
  }
  .footercontainer p {
    font-size: 15px;
  }
  .description,
  .socialicons,
  .footer-contactinfo,
  .info-type {
    height: auto;
    width: fit-content;
  }
  .copygright {
    margin-top: 2rem;
  }
}
@media (max-width: 900px) {
  .searchbar {
    width: auto;
  }
}
@media (max-width: 768px) {
  .headerpart {
    position: relative;
    justify-content: space-between;
    padding: 0 20px;
  }

  .items {
    position: absolute;
    background-color: #d8a236;
    transition: right 0.3s ease-in-out;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .items ul {
    display: none;
  }

  .searchbar {
    width: auto;
  }
  .searchbar input {
    width: auto;
    padding: 8px;
  }

  .hamburger {
    display: block;
    z-index: 999;
  }
  .logo {
    font-size: 25px;
    line-height: 1.15;
  }
  .items ul.active {
    display: block;
    margin-top: 6rem;
    text-align: -webkit-center;
  }
  ul.active li {
    margin: 1rem 0;
  }
  .header-section {
    width: 100%;
  }

  .bodypart {
    width: 100%;
  }
  .bodypart h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }
  .h-img {
    display: none;
  }
  .footercontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
  }
  .footercontainer h2,
  h1 {
    font-size: 20px;
  }
  .footercontainer p {
    font-size: 10px;
  }
  .footercontainer ul li {
    font-size: 10px;
  }
  .description,
  .socialicons,
  .footer-contactinfo,
  .info-type {
    height: fit-content;
  }
  .contact-info {
    flex-direction: column;
  }
  .sendmessage h1,
  p {
    margin: 0;
  }
  .contactform {
    width: 100%;
  }
}
